{% block cmf_tree_select_widget %}
    {% include 'CmfTreeBrowserBundle:Base:tree.html.twig' %}
    <script>
        jQuery(function ($) {
            {%- set routing_default_values = {
                '_locale': app.request.locale,
                '_format': app.request.format
            } -%}

            $('#{{ id }}-cmf-tree').cmfTree({
                request: {
                    load: function (nodePath) {
                        return {
                            url: '{{ path('_cmf_get_resource', {
                                repositoryName: repository_name,
                                path: '__path__'
                            }|merge(routing_default_values)) }}'.replace('__path__', nodePath)
                        };
                    },
                },
                root_node: '{{ root_path }}',
                path_output: '#{{ id }}-cmf-tree'
            });
        });
    </script>

    <div id="{{ id }}-cmf-tree"></div>

    {{ block('form_widget_simple') }}
{% endblock %}
